<div class="email-container">
    <div class="card">
        <div class="row">
            <div class="col-xlg-3 col-lg-4 col-md-4">
                <div class="inbox-panel">
                    <div class="d-flex p-20 no-block">
                        <div class="align-self-center">
                            <h4 class="m-b-0">Inbox</h4> </div>
                        <div class="ml-auto align-self-center">
                            <button class="btn btn-danger btn-sm" (click)="open2(content)">Compose</button>
                        </div>
                    </div>
                    <div class="inb-right">
                        <div (click)="onSelect(message)" *ngFor="let message of messages; let i = index" [class.selected]="message === selectedMessage" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                            <div class="d-flex">
                                <div class="">
                                    <div *ngIf="message.type" class="avatar-status bg-{{message.type}}"> <img alt="" class="avatar-sm rounded-circle" src="{{message.avatar}}" /> </div> <img *ngIf="!message.type" alt="" class="avatar-sm rounded-circle" src="{{message.avatar}}" /> 
                                </div>
                                <div class="pl-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center"> 
                                        <small class="font-medium text-{{message.type}}"> 
                                            <i class="fa fa-circle text-{{message.type}} m-r-5 font-10"></i>{{message.from}} 
                                        </small> 
                                        <small class="bold text-muted time ">  {{ message.date | date: 'MMMM d' }} </small> 
                                    </div>
                                    <p class="mb-0 font-14 "> {{message.subject}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-9 col-lg-8 bg-light-part b-l col-md-8">
                <div class="w-100">
                    <div class="card-body">
                        <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary font-18"><i class="mdi mdi-inbox-arrow-down"></i></button>
                            <button type="button" class="btn btn-secondary font-18"><i class="mdi mdi-delete"></i></button>
                        </div>
                        <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-folder font-18 "></i> </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-label font-18"></i> </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary m-r-10 m-b-10"><i class="mdi mdi-reload font-18"></i></button>
                    </div>
                </div>
                <div class="card-body" *ngIf="selectedMessage">
                    <div class="p-20">
                        <div class="d-flex align-items-center m-b-30">
                            <div class=""> <img alt="" class="avatar-lg rounded-circle" src="{{selectedMessage.avatar}}" /> </div>
                            <div class="pl-3">
                                <div class="font-medium">{{selectedMessage.from}} - {{selectedMessage.date | date: 'MMMM d' }} </div> <span class="font-14">Reply to: {{selectedMessage.email}}</span>
                                <br/>
                                <label class="label label-{{selectedMessage.type}}">{{selectedMessage.tag}}</label>
                            </div>
                        </div>
                        <h4 class="lead mt-0 m-b-30">{{selectedMessage.subject}}</h4>
                        <div [innerHtml]="selectedMessage.body"> </div>
                    </div>
                </div>
            </div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Compose Email</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="to" placeholder="To"> </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="subject" placeholder="Subject"> </div>
                        <quill-editor [style]="{height: '200px'}"></quill-editor>
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10 m-t-20">Send</button>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>