<div class="row"
    [@routerTransition]>
    <div class="col-12">
        <v-card title="{{l('Users')}}"
            subtitle="This is users grid">
            <div v-card-body>
                <div>
                    <form class="pull-left w-25 m-b-30">
                        <input type='text'
                            class="form-control"
                            placeholder='Type to filter the name column...'
                            (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </form>
                    <div class="pull-right">
                        <a class="refresh-tool"
                            (click)="refresh()">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <button type="button"
                            data-toggle="modal"
                            class="btn btn-primary pull-right"
                            (click)="createUser()">
                            <i class="fa fa-plus"></i> Add user
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div *ngIf="isTableLoading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <p-table #dt
                    [hidden]="isTableLoading"
                    [autoLayout]="true"
                    [globalFilterFields]="['id', 'fullName','emailAddress', 'tenantName', 'isActive']"
                    [value]="users"
                    tableStyleClass="ui-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{l('ID')}}</th>
                            <th pSortableColumn="fullName">{{l('FullName')}}
                                <p-sortIcon field="fullName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="emailAddress">{{l('EmailAddress')}}
                                <p-sortIcon field="emailAddress"></p-sortIcon>
                            </th>
                            <th pSortableColumn="userRole">{{l('Role')}}
                                <p-sortIcon field="userRole"></p-sortIcon>
                            </th>
                            <th pSortableColumn="isActive">
                                <div class="text-center">{{l('IsActive')}}
                                    <p-sortIcon field="isActive"></p-sortIcon>
                                </div>
                            </th>
                            <th>{{l('Actions')}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body"
                        let-user>
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.emailAddress}}</td>
                            <td>{{user.userRole}}</td>
                            <td align="center">
                                <div *ngIf="user.isActive"
                                    class="custom-control custom-checkbox mr-sm-2 m-b-15">
                                    <input id="isactive"
                                        type="checkbox"
                                        name="IsActive"
                                        [(ngModel)]="user.isActive"
                                        class="custom-control-input"
                                        checked
                                        disabled
                                        value="isactive">
                                    <label class="custom-control-label"
                                        for="isactive"></label>
                                </div>
                                <div *ngIf="!user.isActive"
                                    class="custom-control custom-checkbox mr-sm-2 m-b-15">
                                    <input disabled
                                        id="inactive"
                                        type="checkbox"
                                        name="InActive"
                                        [(ngModel)]="user.isActive"
                                        class="custom-control-input"
                                        value="inactive">
                                    <label class="custom-control-label"
                                        for="inactive"></label>
                                </div>
                            </td>
                            <td>
                                <ul class="grid-list">
                                    <li>
                                        <a (click)="editUser(user)">
                                            <i class="font--blue fa fa-edit"></i></a>
                                    </li>
                                    <li>
                                        <a (click)="delete(user)">
                                            <i class="font--red fa fa-remove"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p class="text-center"
                    *ngIf="!isTableLoading && users.length == 0">No records</p>
                <div class="text-align: center;"
                    *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)"
                        id="server"></pagination-controls>
                </div>
            </div>
        </v-card>
    </div>
</div>


<app-create-user-modal #createUserModal
    (modalSave)="refresh()"></app-create-user-modal>
<app-edit-user-modal #editUserModal
    (modalSave)="refresh()"></app-edit-user-modal>