<app-income-counter></app-income-counter>

<!-- ============================================================== -->
<!-- Subscribe -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title"><span class="lstick"></span>Website Visit</h4>
                    <ul class="list-inline m-b-0 ml-auto">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Site A view</h6> </li>
                        <li>
                            <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Site B view</h6> </li>
                    </ul>
                </div>
                <div style="height:400px;">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div style="height:370px;">
                    <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1" [chartType]="lineChartType1"> </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-project></app-project>
    </div>
    <!-- ============================================================== -->
    <!-- Activity widget find scss into widget folder-->
    <!-- ============================================================== -->
    <div class="col-lg-6 col-md-12">
        <app-activity-timeline></app-activity-timeline>
    </div>
</div>

<!-- ============================================================== -->
<!-- Comment and chat -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6">
        <app-recent-comment></app-recent-comment>
    </div>
    <div class="col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>
