<div role="document"
    class="modal-dialog">
    <div #modalContent
        class="modal-content">
        <div class="modal-header"
            *ngIf="title">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-heading"
            *ngIf="!title">
            <ng-content select="[v-modal-header]"></ng-content>
        </div>
        <div class="modal-body">
            <ng-content select="[v-modal-body]"></ng-content>
        </div>
        <div class="modal-footer">
            <ng-content select="[v-modal-footer]"></ng-content>
        </div>
    </div>
</div>