<div class="login-register"
    style="background-image:url(assets/images/background/login-register-vim.jpg);">
    <div class="login-box card">
        <div #cardBody
            class="card-body">
            <form #changePasswordForm="ngForm"
                id="changePasswordFormId"
                novalidate
                (ngSubmit)="save()"
                class="form-horizontal">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="logo text-center">
                            <img src="assets/images/logo-complete.png">
                        </div>
                        <h3 class="box-title m-b-20 text-center">Reset password</h3>
                        <p class="text-muted">Provide new password and confirm it to continue!</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control"
                            [(ngModel)]="user.newPassword"
                            #newPassword="ngModel"
                            class="form-control"
                            type="password"
                            autocomplete="off"
                            placeholder="{{l('Password')}}"
                            name="password"
                            required
                            minlength="6"
                            maxlength="255"
                            [class.form-control-danger]="newPassword.invalid && newPassword.touched">
                    </div>
                    <div *ngIf="newPassword.invalid && newPassword.touched"
                        class="form-control-feedback">
                        {{l("Password is required, and must have at least 6 characters")}}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control"
                            [(ngModel)]="confirmPassword"
                            #confirmNewPassword="ngModel"
                            class="form-control"
                            type="password"
                            autocomplete="off"
                            placeholder="{{l('ConfirmPassword')}}"
                            name="confirmPassword"
                            required
                            [class.form-control-danger]="confirmNewPassword.invalid && confirmNewPassword.touched">
                    </div>
                    <div *ngIf="confirmNewPassword.touched && (confirmNewPassword.invalid || confirmPassword !== user.newPassword)"
                        class="form-control-feedback">
                        {{l("Confirm Password is required, and must match the Password field")}}
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                            [disabled]="!user.newPassword || !confirmPassword || user.newPassword !== confirmPassword || changePasswordForm.invalid"
                            type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>