<div class="v-section"
    [class.has-danger]="vInput.invalid && vInput.touched">
    <label *ngIf="label">
        <h6>{{label}}
            <span *ngIf="required === 'true'"> *</span>
        </h6>
    </label>
    <br />
    <p-dropdown #vInput="ngModel"
        [name]="name"
        [placeholder]="placeholder"
        [autoWidth]="false"
        [required]="required"
        [options]="options"
        [(ngModel)]="value"
        [class.form-control-danger]="vInput.invalid && vInput.touched"
        [showClear]="showClear"
        class="v-dropdown">
    </p-dropdown>
    <div *ngIf="required === 'true' && vInput.invalid && vInput.touched"
        class="form-control-feedback">
        {{errorMessage}}
    </div>
</div>